/* Tooltip wrapper */
.tooltip-wrapper {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

/* Tooltip box styling */
.tooltip-box {
  position: fixed;
  top: 20vh;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 12px;
  background-color: #000;
  color: #fff;
  border-radius: 4px;
  font-size: 16px;
  font-weight: normal;
  white-space: normal; /* Allow text to wrap */
  word-wrap: break-word; /* Break words that are too long */
  width: max-content;
  max-width: 80vw; /* Set a maximum width to control tooltip size */
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.1s;
  pointer-events: none;
}

.tooltip-trigger {
  text-decoration: underline dotted;
  color: white;
}

/* Show the tooltip */
.tooltip-trigger:hover + .tooltip-box {
  opacity: 1;
}
