.App {
  background-color: #223;
  text-align: center;
  font-size: 1rem;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.button {
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  background-color: #2e8131;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.1s ease;
  font-size: 1rem;
}

.input {
  border: none;
  color: white;
  border-radius: 3px;
  background-color: #fff2;
  font-size: 1rem;
}

.button:hover {
  background-color: #246e26;
}

.button:active {
  background-color: #19561b;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
